*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  height: 515px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__textfield[type='text'] {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  padding-left: 0;
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield[type='text']:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield[type='text']::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid #fff;
}

.search-form__label:active .search-form__label-text {
  border-bottom: 1px solid transparent;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 26px;
  min-height: 100%;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;

  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  width: 196px;
  overflow: hidden;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -moz-box;
  display: -webkit-box;
  overflow: hidden;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 3;
  -moz-box-orient: vertical;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current {
  background-color: transparent;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.preloader-template,
.cards-list-item-template {
  position: absolute;
  inset: 0;
}
